/*general stylings plus nav*/
*{margin: 0;
}
header,footer{
    background:#36493f;
}
h1{
    color:white;
}
h1,h3,a, .donate-info button{
    font-family: hobeaux, sans-serif;
    font-weight: 700;
    font-style: normal;
}
P{
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}
.nav-search{
    border-top:3px solid gray;
}
ul{
    list-style: none;
}
li{
    
    padding:10px;
    display:inline-block;
}
img{
    
    width:100px;
}
main{
    text-align: center;
}
main div{
    background:#F2E8D0;  
    padding: 5%;
}
p,h3{
    margin:0% 0% 3% 0%;
}
a{
    text-decoration: none;
}
.image{
    /*div settings*/
    height: 450px;
    /*image settings*/
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*header*/
.site-title{
    display:grid;
    grid-template-columns: 100px auto auto;
    grid-template-rows:auto auto auto;
    column-gap: 10px;
}
.site-title img{
    grid-row:1/ span 3;
}
.site-title h1{
   grid-row: 2;
   grid-column:2/ span 2;
   
}
.nav-search{
    background:#36493f;
}
/*searchbar*/
form{
    
    margin-top:6px;
    margin-left:5%;
    float: left;
}
input{
    padding:6px;
    border:none;
    background:#F2E8D0; 
}
button{
    padding:6px;
    margin:0;
    border:none;
    background:#F2E8D0;
}
.donatebtn{
    background:orange;
}
nav{display:none;}
/*mobile menu*/
.open, .close{
    margin:10px;
    grid-column: 3;
    grid-row:1;
}
.close{
    display:none;
}
.side{position:absolute;
    right:0px;
    background:black;
    opacity: 0.6;
    width:0;
}
.side a{
    color:white;
    padding-top:40px;
    padding-bottom:40px;
    text-align: center;
    display:block;
    opacity: 100%;
}
.side a:hover{
    background:#F2E8D0;
    color:#36493F;
}
/*section stylings*/
.about{
    background:#9b9381;   
}
.imgabout{
    background-image: url(images/GreyWolfintheforest\(1\).jpg);
}
.imgresearch{
    background-image: url(images/Manedwolfbabyexamination\(1\).jpg);
}
.imgconservation{
    background-image: url(images/wolfandfence.jpg);
}
.imgdonations{
    background-image: url(images/Wolfcoupleportraitinthewild.Natureeyeswolveswolfpackbeautifulanimalskillerspredatorshunterseyesgreywildernessoutdoorconcept.jpg);
}
.donate{
background-image: url(images/Wolfhowling\(1\).jpg);
}
.donate-info{
    position: relative;
    top:270px;
    right:5%;
    height:90px;
    width:100%;
    background:orange;
    opacity: 60%;
}
.donate-info button{
    background:#36493f;
    color:white;
    padding:10px;
    letter-spacing: 1px;
}
.donate-info button:hover{
    background:#9b9381;
    color:black;
}
footer{
    height:70px;
}
footer p ,.icons{
    padding:0;
}

@media only screen and (min-width: 601px){
    .open, .close{display:none;}
    /*searchbar*/
form{
    margin-right:10px;
    float: right;
}
    /*nav styles*/
    .side{
        display:none;
    }
nav{
    display: block;
}
ul li a{
    padding:.65rem;
    color:white;
}
ul li a:hover{
    background:#F2E8D0;
    color:#36493F;
}
.donate-info{
    height:60px;
}
footer p{
    padding:20px;
display:inline-block;
}
.icons{
    padding:20px;
    float:right;
   
}

}